{% load i18n towel_form_tags %}
<script language="javascript">
    function resetPassword(obj) {
        //console.log($(obj));
        if ( $(obj).prop('checked') ) {
            $('#submitbtn').text('Reset Password');
        } else {
            $('#submitbtn').text('Register');
        }
    }
</script>
<form method="post" action="{% url "email_registration_form" %}" class="well" id="registration" id="regform">
  {% csrf_token %}
  {% form_errors form %}
  <div class="controls">
      {% if form %}
          {% form_item_plain form.email %}
      {% else %}
    <input id="id_email" type="text" name="email" maxlength="75"
      placeholder="{% trans "Email address" %}" />
      {% endif %}
    <input type="checkbox" id="resetpw" name="resetpw" value="yes" onchange="resetPassword(this);" /> Reset password?

    {% if reCAPTCHA %}
    <div class="g-recaptcha" data-sitekey="6Le6wgATAAAAANp21Z2sSGILrBydmlResPz9nTiU"></div>
    {% endif %}
  </div>
  <br>
  <button type="submit" class="btn btn-primary" id="submitbtn">
    {% trans "Register" %}</button>
    {% if form %}
{#        we might have use of send new link #}
        <script language="javascript">
        $('form').submit(function() {
            $('#submitbtn').attr('disabled', 'disabled');
            $('#submitbtn').text('please wait...');
        });
        </script>
    {% endif %}
</form>
